


<div class="review_r">
	<div class="close_review"><i class="fas fa-times"></i></div>
	<div class="img_p">
		<a href="{{ product.link  }}">
			<img src="{{ product.icon }}" alt="{{product.name }}">
		</a>
		<p> 
			{{ name_product  }}
			<span><i class="fas fa-star"></i>{{ star }}</span>
		</p>
	</div>
	<div class="rattot">
		<ul class="rating-score" data-rating="5">
			<i class="fas fa-star active"></i>
			<i class="fas fa-star active"></i>
			<i class="fas fa-star active"></i>
			<i class="fas fa-star active"></i>
			<i class="fas fa-star active"></i>
		</ul>
		<a class="text-sm"> </a><span>{{ date }}</span>
	</div>

	<div class="noidung">{{ content }}</div>
	<p class="td">Các đánh giá khác về sản phẩm này</p>
	<div class="hinh_p">
		ssssssssssss
	</div>
</div>
